<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="scmdb" value="server=192.168.2.45,1433;database=SCMDB;uid=sa;pwd=123@abcd"/>
    <add key="DerDataCheckUrl" value="http://192.168.2.45/wjscms/sipsd/admin/DerData/Check/{0}"/>
    <add key="UIDReplaceCharacter" value="CF_QUERY_,CF_STASTIC_"/>
    <add key="OwnerCodeDefault" value="WJ.01.01"/>
    <add key="OwnerNameDefault" value="建设局"/>
    <add key="VindicatorCodeDefault" value="CF.99"/>
    <add key="VindicatorNameDefault" value="运维单位"/>
    <add key="ClassifyIdDefault" value="6aeec8a1-0c16-4af3-b4cf-416ebcc34ad2"/>
    <add key="CatalogIdDefault" value="611d04c4-9a26-4ecf-a057-ef7abb911070"/>
    <add key="DBSPublishUrl" value="http://192.168.2.45/wjscms/sipsd/admin/dbService/publish/{0}"/>
  </appSettings>

</configuration>